:root {
  --frameColor: #ff0099;
}
.video-label{
  	bottom:0;
	left: 0;
  	text-align:center;
  	background-color:var(--frameColor);
  	width:100vw;
  	padding-bottom:.5em;
}
.holder{
	border: 5px solid var(--frameColor) !important;
	border-radius: 25px !important;
}
video{
	object-fit: cover !important;
}
