:root {
  	--frameColor: #010a51;
  	--borderRadius: 25px;
	--background-image: url(Blank.png)
}
.video-label{
  	bottom:0;
	left: 0;
  	text-align:center;
  	background-color:var(--frameColor);
  	width:100vw;
  	padding-bottom:.15em;
	font-size: clamp(36px, 7vw, 50px) !important;
}
.holder{
	border: 5px solid var(--frameColor) !important;
	border-radius: var(--borderRadius) !important;
	background-color: var(--frameColor) !important;
}
video{
	object-fit: cover !important;
	border: 1px solid var(--frameColor) !important;
	border-radius: var(--borderRadius) !important;
	box-shadow: 0px 0px 0 1px var(--frameColor) !important;
}
#gridlayout, #mainmenu {
    background-color: white;
    height: 100vh;
    border-radius: var(--borderRadius);
    border: 6px solid var(--frameColor);
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
}
#container{
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0);
    background-image: var(--background-image);
}
.text-on-screen{
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 68px;
    color: #FFF;
}
#livestream-title{
    font-weight: bold;
    padding-top: 175px;
    text-transform: uppercase;
}
#starts-in{
    padding-top: 100px;
}
#minutes{
    padding-top: 375px;
}
#countdown-video{
	position: absolute;
	top: 0;
	left: 0;
	border: 0px solid black !important;
}
