.video-label{
  	bottom:0;
	left: 0;
  	text-align:center;
  	background-color:#000099;
  	width:100vw;
  	padding-bottom:.5em;
}
.holder{
	border: 8px solid #000099 !important;
	border-radius: 25px !important;
}
