:root {
  	--frameColor: #6d61cc;
  	--borderRadius: 25px;
	--background-image: url(Blank.png)
}
.video-label{
  	bottom: -1.2em;
	border: 5px solid var(--frameColor);
	border-radius: clamp(12px, 6vh, 25px) !important;
	left: calc(100% - clamp(200px, 50%, 400px) + 5px);
  	text-align:center;
  	background-color:var(--frameColor);
  	width:clamp(200px, 50%, 400px);
  	padding-bottom:.15em;
	font-size: clamp(24px, 6vw, 50px) !important;
}
.holder{
	border: 5px solid var(--frameColor) !important;
	border-radius: var(--borderRadius) !important;
	background-color: var(--frameColor) !important;
	overflow: visible !important;
}
.holder:has(.video-label){
	height: calc(100% - 3.5em) !important;
}
video{
	object-fit: cover !important;
	border: 1px solid var(--frameColor) !important;
	border-radius: var(--borderRadius) !important;
	box-shadow: 0px 0px 0 1px var(--frameColor) !important;
}
#retryimage{
	object-fit: cover;
	
}
#mainmenu{
	height: calc(100vh - 3.5em) !important;
	border: 5px solid var(--frameColor) !important;
	min-height: calc(100vh - 3.5em) !important;
	border-radius: 25px;
	overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
}
#container{
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: Ubuntu;
  src: url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
}
.text-on-screen{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 68px;
    color: #FFF;
}
#livestream-title{
    font-weight: bold;
    padding-top: 175px;
    text-transform: uppercase;
}
#starts-in{
    padding-top: 100px;
}
#minutes{
    padding-top: 375px;
}
#countdown-video{
	position: absolute;
	top: 0;
	left: 0;
	border: 0px solid black !important;
	box-shadow: 0px 0px 0px 0px var(--frameColor) !important;
}
